<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!---->
  <appSettings>
    <add key="Data Source"        value="(local)"/>
    <add key="Initial Catalog"    value="Protheus10"/>
    <add key="UID"                value="carralero"/>
    <add key="PWD"                value="n@osei@123"/> 
    <add key="Connection timeout" value="3600"/>
  </appSettings>
  
  <!--
  <appSettings>
    <add key="Data Source"        value="sucobom.no-ip.org"/>
    <add key="Initial Catalog"    value="protheus"/>
    <add key="UID"                value="sa"/>
    <add key="PWD"                value="n@osei"/>
    <add key="Connection timeout" value="3600"/>
  </appSettings>
  -->
</configuration>
