<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="Data Source"        value="(local)"/>
    <add key="Initial Catalog"    value="Protheus10"/>
    <add key="UID"                value="carralero"/>
    <add key="PWD"                value="n@osei@123"/> 
    <add key="Connection timeout" value="3600"/>
  </appSettings>
  <!--
  <appSettings>
    <add key="Data Source"        value="192.168.1.38"/>
    <add key="Initial Catalog"    value="Protheus10"/>
    <add key="UID"                value="siga"/>
    <add key="PWD"                value="msiga"/>
    <add key="Connection timeout" value="3600"/>
  </appSettings>
  -->
</configuration>