<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings configSource="">
    <add key="RTable"            value="queryes\create_rtable.sql"            />
    <add key="SigaUsers"         value="queryes\create_sigausers.sql"         />
    <add key="UsersGroups"       value="queryes\create_usergroups.sql"        />
    <add key="fields"            value="queryes\create_fields.sql"            />
    <add key="filters"           value="queryes\create_filters.sql"           />
    <add key="groupBy"           value="queryes\create_groupby.sql"           />
    <add key="orderBy"           value="queryes\create_orderby.sql"           />
    <add key="params"            value="queryes\create_params.sql"            />
    <add key="perm_temp"         value="queryes\create_perm_temp.sql"         />
    <add key="permissaoRelGrupo" value="queryes\create_permissaorelgrupo.sql" />
    <add key="permissaoRelUsu"   value="queryes\create_permissaorelusu.sql"   />
    <add key="report"            value="queryes\create_report.sql"            />
    <add key="reportgroup"       value="queryes\create_reportgroup.sql"       />
  </appSettings>
</configuration>
